@import 'common/_const.scss';
html {
    font-size: 14px;
}

body {
    color: $black;
    margin: 0;
    font-family: PT Sans;
    & button {
        outline: none;
        cursor: pointer;
    }
    & input {
        outline: none;
        cursor: pointer;
    }
    & textarea {
        cursor: pointer;
        outline: none;
    }
    & a {
        cursor: pointer;
        outline: none;
    }
}

.owl-carousel .owl-item img {
    width: auto;
}

.normal__title {
    font-size: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background: none;
    height: 100%;
}

* {
    box-sizing: border-box;
}

@import 'common/*.scss';
@media (max-width:1024px) {
    .wrapper {
        width: 100%;
    }
    .normal__title {
        text-align: center;
    }
}

@media (max-width:420px) {
    .normal__title {
        font-size: 22px;
    }
}

@media (max-width:320px) {
    .normal__title {
        font-size: 18px;
    }
}

// @media (max-width:1024px) {}

// @media (max-width:992px) {}

// @media (max-width:768px) {}

// @media (max-width:736px) {}

// @media (max-width:667px) {}

// @media (max-width:598px) {}

// @media (max-width:568px) {}

// @media (max-width:480px) {}

// @media (max-width:420px) {}

// @media (max-width:414px) {}

// @media (max-width:384px) {}

// @media (max-width:380px) {}

// @media (max-width:375px) {}

// @media (max-width:360px) {}

// @media (max-width:320px) {}

// @media (max-width:240px) {}