.header {
    height: 100px;
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__phoneMenu {
        width: 26px;
        height: 25px;
        padding: 0;
        background: none;
        border: none;
        display: none;
        margin-top: 17.5px;
        &Photo {
            width: 100%;
        }
    }
    &__logotype {
        height: 81px;
        width: 297px;
    }
    &__menu {
        list-style: none;
        padding: 0;
        display: flex;
        width: 585px;
        justify-content: space-between;
        padding-right: 6px;
        &Item {
            display: inline;
            & a {
                color: $blueDark;
                font-size: 16px;
                text-decoration: none;
            }
            & a:hover {
                color: $blue;
                border: 1px solid $blue;
                font-family: Source Sans Pro;
                border-radius: 3px;
                padding: 4px 6px;
                margin: 0 -7px;
            }
        }
    }
}

@media (max-width:992px) {
    .header {
        &__logotype {
            width: 180px;
            height: 60px;
        }
    }
}

@media (max-width:768px) {
    .header {
        height: 60px;
        &__logotype {
            width: 220px;
            height: 60px;
        }
        &__navbar {
            justify-content: space-between;
            align-items: flex-start;
            flex-flow: row wrap;
        }
        &__menu {
            display: none;
            flex-flow: row wrap;
            justify-content: flex-start;
            padding-left: 16px;
            &Item {
                width: 100%;
                margin-bottom: 16px;
            }
        }
        &__phoneMenu {
            display: block;
            margin-right: 6px;
        }
    }
}

@media (max-width:360px) {
    .header {
        &__phoneMenu {
            display: block;
            margin-right: 3px;
        }
    }
}
