.header {
    height: 100px;
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__phoneMenu {
        width: 26px;
        height: 25px;
        padding: 0;
        background: none;
        border: none;
        display: none;
        margin-top: 17.5px;
        &Photo {
            width: 100%;
        }
    }
    &__logotype {
        height: 81px;
        width: 297px;
    }
    &__menu {
        list-style: none;
        padding: 0;
        display: flex;
        width: 585px;
        justify-content: space-between;
        padding-right: 6px;
        &Item {
            display: inline;
            & a {
                color: $blueDark;
                font-size: 16px;
                text-decoration: none;
                &:hover {
                    color: $blue;
                }
            }
            &:last-child {
                color: $blue;
                border: 1px solid $blue;
                border-radius: 3px;
                padding: 4px 6px;
                margin: -4px -7px 0;
                & a {
                    color: $blue;
                    font-size: 16px;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width:992px) {
    .header {
        &__logotype {
            width: 180px;
            height: 60px;
        }
    }
}

@media (max-width:768px) {
    .header {
        height: 60px;
        &__logotype {
            width: 220px;
            height: 60px;
        }
        &__navbar {
            justify-content: space-between;
            align-items: flex-start;
            flex-flow: row wrap;
        }
        &__menu {
            display: none;
            flex-flow: row wrap;
            justify-content: flex-start;
            padding-left: 16px;
            width: 100%;
            &Item {
                padding: 2px 0;
                border-bottom: 1px solid $greyDark;
                width: 100%;
                margin-bottom: 16px;
                & a {
                    display: block;
                    width: 100%;
                }
            }
        }
        &__phoneMenu {
            display: block;
            margin-right: 6px;
        }
    }
}

@media (max-width:360px) {
    .header {
        &__phoneMenu {
            display: block;
            margin-right: 3px;
        }
    }
}

@media (max-width:240px) {
    .header {
        &__navbar {
            align-items: center;
        }
        &__phoneMenu {
            margin-top: 0;
        }
        &__logotype {
            height: auto;
            width: 160px;
        }
    }
}
