.section__third {
    background: url(/assets/img/section__3/sections__3__background.png) no-repeat;
    background-size: 100%;
    background-color: $brown;
    height: 698px;
    padding-top: 40px;
    &Box {
        width: 972px;
        padding-top: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &Item {
            display: flex;
            flex-wrap: wrap;
            color: $white;
            width: 470px;
            height: 258px;
            margin-bottom: 30px;
            background: url(/assets/img/section__3/owl__1.png) no-repeat;
            background-size: 100%;
            padding: 30px 0 20px 30px;
            &:nth-child(2) {
                background: url(/assets/img/section__3/owl__2.png) no-repeat;
                background-size: 100%;
            }
            &:nth-child(3) {
                background: url(/assets/img/section__3/owl__3.png) no-repeat;
                background-size: 100%;
            }
            &:nth-child(4) {
                background: url(/assets/img/section__3/owl__4.png) no-repeat;
                background-size: 100%;
            }
            &Title {
                margin: 0 0 20px 62px;
                width: 300px;
                font-size: 20px;
                font-weight: bold;
            }
            &Description {
                width: 270px;
                height: 136px;
            }
            &Link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 40px;
                background: $blue;
                border-radius: 5px 0 0 5px;
                color: $white;
                font-size: 17px;
                margin: -18px 0 0 340px;
                &:hover {
                    color: $white;
                    text-decoration: none;
                }
                &:active {
                    background: $blueDark;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .section__third {
        height: auto;
        &Box {
            justify-content: center;
            width: 100%;
        }
    }
}

@media (max-width:420px) {
    .section__third {
        &Box {
            &Item {
                width: 96%;
                &Link {
                    margin-left: 274px;
                }
            }
        }
    }
}

@media (max-width:414px) {
    .section__third {
        &Box {
            &Item {
                background-size: 116%;
                &:nth-child(2) {
                    background-size: 106%;
                }
                &:nth-child(4) {
                    background-size: 104%;
                }
                &Link {
                    margin-left: 268px;
                }
            }
        }
    }
}

@media (max-width:384px) {
    .section__third {
        &Box {
            &Item {
                background-size: 125%;
                &:nth-child(2) {
                    background-size: 114%;
                }
                &:nth-child(4) {
                    background-size: 112%;
                }
                &Link {
                    margin-left: 238px;
                }
            }
        }
    }
}

@media (max-width:380px) {
    .section__third {
        &Box {
            &Item {
                padding: 10px 26px 15px;
                &:nth-child(3n) {
                    background-size: 106%;
                }
                &Title {
                    margin-left: 0;
                    text-align: center;
                }
                &Link {
                    margin-left: 250px;
                }
            }
        }
    }
}

@media (max-width:375px) {
    .section__third {
        &Box {
            &Item {
                background-size: 128%;
                &:nth-child(2) {
                    background-size: 117%;
                }
                &:nth-child(3) {
                    background-size: 108%;
                }
                &:nth-child(4) {
                    background-size: 115%;
                }
                &Link {
                    margin-left: 246px;
                }
            }
        }
    }
}

@media (max-width:360px) {
    .section__third {
        &Box {
            &Item {
                &Link {
                    margin-left: 232px;
                }
            }
        }
    }
}

@media (max-width:320px) {
    .section__third {
        &Box {
            &Item {
                width: 312px;
                height: 175px;
                &Title {
                    font-size: 12px;
                }
                &Description {
                    font-size: 10px;
                }
                &Link {
                    width: 73px;
                    height: 29px;
                    font-size: 10px;
                    margin: -50px 0 0 231px;
                }
            }
        }
    }
}

@media (max-width:240px) {
    .section__third {
        &Box {
            &Item {
                width: 232px;
                background-size: 135%;
                &:nth-child(2) {
                    background-size: 123%;
                }
                &:nth-child(3) {
                    background-size: 114%;
                }
                &:nth-child(4) {
                    background-size: 121%;
                }
                &Link {
                    margin-left: 246px;
                }
                &Link {
                    margin-left: 151px;
                }
            }
        }
    }
}