.section__fourth {
    height: 250px;
    padding-top: 40px;
    &Gallery {
        width: 970px;
        margin: 0 auto;
        padding-top: 40px;
        & img {
            width: 100% !important; 
        }
    }
}

@media (max-width:768px) {
    .section__fourth {
        height: auto;
        padding-bottom: 10px;
        &Gallery {
            width: auto;
        }
    }
}
