.section__fourth {
    height: 250px;
    padding-top: 40px;
    &Gallery {
        width: 970px;
        margin: 0 auto;
        padding-top: 40px;
        overflow: hidden;
        & img {
            width: 179px;
            height: 89px;
        }
    }
}

.carusel {
    &__box {
        width: 10000px;
        position: relative;
        display: flex;
        justify-content: flex-start;
    }
    &__item {
        user-select:none;
        margin-right: 10px;
        &:last-child {
            margin: 0;
        }
    }
}

@media (max-width:768px) {
    .section__fourth {
        height: auto;
        &Gallery {
            width: auto;
        }
    }
}

@media (max-width:420px) {
    .section__fourth {
        &Gallery {
            flex-wrap: wrap;
        }
    }
}

@media (max-width:360px) {
    .section__fourth {
        &Gallery {
            justify-content: center;
        }
    }
}