.section__first {
    background: url(/assets/img/section__1/section__1__background.png) no-repeat;
    background-size: 100%;
    height: 550px;
    padding-top: 158px;
    &Title {
        font-size: 30px;
        font-family: PT Sans;
        width: 480px;
        &Main {
            margin-bottom: 36px;
            font-size: 40px;
        }
    }
}

@media (max-width:992px) {
    .section__first {
        height: 450px;
        &Title {
            padding-left: 16px;
            &Main {
                padding-left: 16px;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width:768px) {
    .section__first {
        &Title {
            font-size: 26px;
        }
    }
}

@media (max-width:420px) {
    .section__first {
        height: 254px;
        padding-top: 80px;
        &Title {
            font-size: 16px;
            width: 280px;
            &Main {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width:380px) {
    .section__first {
        height: 230px;
    }
}
@media (max-width:360px) {
    .section__first {
        height: 218px;
        &Title {
            &Main {
                font-size: 20px;
            }
        }
    }
}

@media (max-width:320px) {
    .section__first {
        height: 192px;
        padding-top:30px;
        &Title {
            padding-left: 31px;
            font-size: 8px;
            &Main {
                font-size: 12px;
                padding-left: 31px;
                margin-bottom: 17px;
            }
        }
    }
}