.section__fifth {
    padding-top: 40px;
    height: 409px;
    border-bottom: 1px solid $greyDark;
    background: url(/assets/img/section__5/section__5__background.png) no-repeat 100% 109%;
    &Box {
        padding-top: 60px;
        margin: 0 auto;
        width: 970px;
        &Picture {
            width: 970px;
            &Mobile {
                display: none;
            }
        }
    }
}

@media (max-width:768px) {
    .section__fifth {
        height: auto;
        &Box {
            width: auto;
            &Picture {
                width: 100%;
            }
        }
    }
}

@media (max-width:420px) {
    .section__fifth {
        &Box {
            padding: 40px 8px;
            &Picture {
                display: none;
                &Mobile {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}
