footer.footer
    .normal__title.footer__title(id="call") Оставьте заявку и мы Вам перезвоним
    .footer__Box
        .bottomForm
            .footer__BoxDate
                input(type="text" placeholder="ФИО").footer__BoxDateName
                input(type="text" placeholder="Телефон").footer__BoxDatePhone
                input(type="text" placeholder="Эл. почта").footer__BoxDateEmail
            textarea(placeholder="Ваш вопрос...").footer__BoxText
            button.footer__BoxButton.messagePush Отправить
        .thanksPage
            .thanksPage__title Спасибо наш специальст свяжется с Вами в течении 30 минут