footer.footer
    .normal__title(id="call") Оставьте заявку и мы Вам перезвоним
    .footer__Box
        .footer__BoxDate
            input(type="text" placeholder="ФИО").footer__BoxDateName
            input(type="text" placeholder="Телефон").footer__BoxDatePhone
            input(type="text" placeholder="Эл. почта").footer__BoxDateEmail
        textarea(placeholder="Ваш вопрос...").footer__BoxText
        button.footer__BoxButton Отправить