header.header
    .wrapper
        nav.header__navbar
            img(src="assets/img/header/logotype.png" alt="logotype").header__logotype
            .header__phoneMenu
                span
            ul.header__menu
                li.header__menuItem
                    a(href="#advantages") Приемущества
                li.header__menuItem
                    a(href="#services") Услуги
                li.header__menuItem
                    a(href="#projects") Проекты
                li.header__menuItem
                    a(href="#work") Работы
                li.header__menuItem
                    a(href="#call") Свяжитесь с нами
