header.header
    .wrapper
        img(src="assets/img/header/logotype.png" alt="logotype").col-lg-1.header__logotype
        ul.col-lg-6.header__menu
            li.header__menuItem
                a(href="#advantages") Приемущества
            li.header__menuItem
                a(href="#services") Услуги
            li.header__menuItem
                a(href="#projects") Проекты
            li.header__menuItem
                a(href="#work") Работы
            li.header__menuItem
                a(href="#call") Свяжитесь с нами
