block variables

doctype html
html
    head
        title= "OWL COMPANY WEB - STUDIO"
        <!-- META -->
        meta( charset = "utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-language" content="ru-RU")
        meta(name="description" content="Мы занимаемся создание сайтов в Краснодаре с лучшим соотношением цены к качеству. Мы гарантируем качество предоставляемых нами услуг.")
        meta(name="keywords" content="дизайн,разработка, внедрение, сайт, сайты, Краснодар, веб-студия, web-studio,web studio, owl, owl company, разработка дизайна, разработка сайтов, контекстная реклама, новые технологии, связь с owl, проекты, проекты owl company, цены создания сайта в Краснодаре, Вб студия в Краснодаре, дешевые сайты, низкие цены Краснодар ")
        meta(name="author" content="http://owlcom.h1n.ru")
        <!-- OG -->
        meta(property="og:site_name" content="OWL COMPANY")
        meta(property="og:url" content="http://owlcom.h1n.ru")
        meta(property="og:title" content="OWL COMPANY WEB - STUDIO")
        meta(property="og:type" content="website")
        meta(property="og:image" content="http://owlcom.h1n.ru/assets/img/logotype__facebook.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:image:width" content="300")
        meta(property="og:image:height" content="300")
        meta(property="og:description" content="Мы занимаемся создание сайтов в Краснодаре с лучшим соотношением цены к качеству. Мы гарантируем качество предоставляемых нами услуг.")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:creator" content="http://owlcom.h1n.ru")
        meta(name="twitter:domain" content="owlcom.h1n.ru")
        meta(name="twitter:site" content="OWL COMPANY")
        meta(itemprop="name" content="OWL COMPANY")
        meta(itemprop="description" content="Мы занимаемся создание сайтов в Краснодаре с лучшим соотношением цены к качеству. Мы гарантируем качество предоставляемых нами услуг.")
        meta(itemprop="image" content="http://owlcom.h1n.ru/assets/img/header/logotype.png")
        <!-- END OG -->
        meta(name="theme-color" content="#4DBAED")
        meta(name="msapplication-navbutton-color" content="#4DBAED")
        meta(name="msapplication-TileColor" content="#193242")
        <!-- END META -->
        <!-- CSS -->        
        link(rel="stylesheet" href="assets/css/owl.carousel.min.css")
        link(rel="stylesheet" href="assets/css/style.css")

        <!-- END CSS -->
        link(rel="image_src" href="http://owlcom.h1n.ru/assets/img/header/logotype.png")
        link(href="assets/img/favicone.png" rel="shortcut icon" type="image/x-icon")
        <!-- SCRIPT --> 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="assets/js/owl.carousel.min.js")
        script(src="assets/js/jquery.maskedinput.min.js")
        script(src="assets/js/app.js")
        <!--[if lt IE 9]>
            script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->
        <!-- END SCRIPT --> 
    body
        block content