header.header
    .wrapper
        img(src="assets/img/header/logotype.png" alt="logotype").col-lg-1.header__logotype
        ul.col-lg-6.header__menu
            li.header__menuItem
                a(href="#") Услуги
            li.header__menuItem
                a(href="#") Проекты
            li.header__menuItem
                a(href="#") О компании
            li.header__menuItem
                a(href="#") Контакты
            li.header__menuItem
                a(href="#") Свяжитесь с нами
