.overlay
.modal
    .modal__open
        .modal__openTitle Оставьте Ваши контакты
        .modal__openNotyce Мы перезвоним Вам в течении часа
        input(type="text" placeholder="ФИО").modal__openName
        input(type="text" placeholder="Телефон").modal__openPhone
        button.modal__openButton.messagePush Отправить
    .thanksPage
        .thanksPage__title Спасибо наш специальст свяжется с Вами в течении 30 минут
        button.thanksPage__button.modal__close Закрыть