section.section__fifth
    .wrapper
        .normal__title Как мы работаем?
        img(src="")
        .section__fifthPass
            span.section__fifthPassItem Постановка целей
            span.section__fifthPassItem Проектирование и разработка дизайна
            span.section__fifthPassItem Верстка и программирование
            span.section__fifthPassItem Тестирование
            span.section__fifthPassItem Сопровождение
        