section.section__fourth
    .wrapper
        .normal__title Наши проекты
        .section__fourthGallery
            img(src="#" alt='1')
            img(src="#" alt='2')
            img(src="#" alt='3')
            img(src="#" alt='4')
        