section.section__sixth
    .wrapper
        .normal__title Что о нас говорят клиенты
        .section__sixthBox.owl-carousel
            -
                var itemComment = [
                    { src : 'assets/img/section__6/photoModel__2.jpg', name : 'Сидоров Александр', description : 'На данный момент идет активный этап внедрения Битрикс24 в нашу компанию. Уже 12 отделов компании работают в корпоративном портале, при этом так же включены в работу наши партнёры, не являющиеся сотрудниками...'}
                    ,{src : 'assets/img/section__6/photoModel__2.jpg', name : 'Рогов Евгений', description : 'Стояла задача наладить эффективную коммуникацию между отделом продаж и отделом производства. Искали решение, остановились на Битрикс24. Компанию для внедрения корпоративного портала выбрали IPG, сотру... '  }
                    ,{src : 'assets/img/section__6/photoModel__2.jpg', name : 'Рогов Евгений', description : 'Стояла задача наладить эффективную коммуникацию между отделом продаж и отделом производства. Искали решение, остановились на Битрикс24. Компанию для внедрения корпоративного портала выбрали IPG, сотру... '  }
                    ,{src : 'assets/img/section__6/photoModel__2.jpg', name : 'Рогов Евгений', description : 'Стояла задача наладить эффективную коммуникацию между отделом продаж и отделом производства. Искали решение, остановились на Битрикс24. Компанию для внедрения корпоративного портала выбрали IPG, сотру... '  }
                    ,{src : 'assets/img/section__6/photoModel__2.jpg', name : 'Рогов Евгений', description : 'Стояла задача наладить эффективную коммуникацию между отделом продаж и отделом производства. Искали решение, остановились на Битрикс24. Компанию для внедрения корпоративного портала выбрали IPG, сотру... '  }
                    ,{src : 'assets/img/section__6/photoModel__2.jpg', name : 'Рогов Евгений', description : 'Стояла задача наладить эффективную коммуникацию между отделом продаж и отделом производства. Искали решение, остановились на Битрикс24. Компанию для внедрения корпоративного портала выбрали IPG, сотру... '  }
                    ,{src : 'assets/img/section__6/photoModel__2.jpg', name : 'Сычёва Анна', description : 'Корпоративным порталом пользуемся уже более трёх лет. Сейчас уже более 200 сотрудников в 6 городах присутствия, в общей сложности это 22 филиала. На данный момент корпоративный портал для нас основной... '  }
                ]
            each item in itemComment
                .section__sixthBoxItem
                    img(src= item.src).section__sixthBoxItemPicture
                    span.section__sixthBoxItemName= item.name
                    p.section__sixthBoxItemDescription= item.description
                    a.section__sixthBoxItemLink Читать далее