section.section__third
    .wrapper
        .normal__title(id="services") Какие услуги мы предоставляем?
        .section__thirdBox
            -
                var itemServices = [
                    {title : 'САЙТ ВИЗИТКА', description : 'Станет отличным бюджетным вариантом для краткого ознакомления с компанией, магазином или другой организацией. Данный ресурс является самым простым и недорогим проектом, так как он состоит всего из одной страници.'}
                    ,{title : 'КОРПОРАТИВНЫЙ САЙТ', description : 'Проект имеет более «продвинутый» функционал и большее количество страниц по сравнению с сайтом визиткой – от 5 до 20. Управлять опубликованным контентом Вы сможете при помощи наличия удобной системы управления.'}
                    ,{title : 'LANDING', description : 'Еще один бюджетный вариант для ознакомления с компанией, магазином или другой организацией для сбора контактных данных целевой аудитории. Данный ресурс является  недорогим проектом, так как он состоит до 5 страниц страници.'}
                    ,{title : 'ИНДИВИДУАЛЬНЫЙ ПРОЕКТ', description : 'Если ни один из предложенных вариантов Вам не подходит, Вы можете обратиться к нам за созданием индивидуального сайта.'}
                ];

            each item in itemServices
                .section__thirdBoxItem
                    .section__thirdBoxItemTitle= item.title
                    .section__thirdBoxItemDescription= item.description
                    a.open__modal.section__thirdBoxItemLink Подробнее
