section.section__fifth
    .wrapper
        .normal__title(id="work") Как мы работаем?
        .section__fifthBox
            img(src="assets/img/section__5/our__plan.png").section__fifthBoxPicture
            .section__fifthBoxPass
                span.section__fifthBoxPassItem Постановка целей
                span.section__fifthBoxPassItem Проектирование и разработка дизайна
                span.section__fifthBoxPassItem Верстка и программирование
                span.section__fifthBoxPassItem Тестирование
                span.section__fifthBoxPassItem Сопровождение
        