section.section__sixth
    .wrapper
        .normal__title Что о нас говорят клиенты
        .section__sixthBox.owl-carousel
            -
                var itemComment = [
                    { src : 'assets/img/section__6/photoModel__1.jpg', name : 'Трофимов Александр', description : 'В последнее время стал часто натыкаться на жуликов. Заказал одной раскрученной фирме разработку логотипа. После общения с веб - дизайнером понял, что человек меня не слышит. Результатом был разочарован дико. Сайт получился кривой. Обратился к фирме OWL COMPANY с просьбой спасти положение. Опытная команда быстро поняла что к чему и разработала для моего сайта индивидуальный проект. Через неделю сайт смело заявил о себе. Так что OWL COMPANY выручили меня и сделали отличный работающий сайт.'}
                    ,{src : 'assets/img/section__6/photoModel__2.jpg', name : 'Сафонов Иван', description : 'Сотрудничаем с этой компанией уже достаточно давно, за это время никаких нареканий не возникло, могу отметить только положительные моменты в их работе: в своем деле разбираются отлично, когда заказывали у них разработку сайта, то учли все наши пожелания. Ну и главное, что делают работу в срок и по доступной цене. Так что будем продолжать сотрудничество!'  }
                    ,{src : 'assets/img/section__6/photoModel__3.jpg', name : 'Черкасова Ангелина', description : 'Мне нужно было в сжатые сроки создать сайт "с нуля". Но на это у меня не было не времени, ни сил, не нужных знаний. Что в таких случаях делают? Обращаются к профессионалам. И эти ребята меня, таки не подвели, за что им очень благодарен. Буду обращаться и впредь.'  }
                    ,{src : 'assets/img/section__6/photoModel__4.jpg', name : 'Гришин Евгений', description : 'После открытия своего магазина мобильной техники ,не был в восторге от количества покупателей. Я прекрасно понимал, что реклама на телевидении или газетах будет дорогой. Я решил обратиться к этой веб-студии ,чтобы они создали мне качественный сайт, который будет своеобразной рекламой магазина в интернете.Люди могли заказать себе товар через сайт, а потом прийти в магазин и забрать его. Это было чертовски отличное решение. Продажи и доход выросли в разы. Продажа через сайт дала свои плоды уже через несколько дней после открытия сайта.'  }
                    ,{src : 'assets/img/section__6/photoModel__5.jpg', name : 'Дегтярев Роман', description : 'Много раз обращался за помощью в OWL COMPANY. Запомнилась эта веб студия только приятным. Разработчики сайтов очень профессиональны, им по зубам любая задача. По оптимизации, тоже на отлично срабатывают.'  }
                    ,{src : 'assets/img/section__6/photoModel__6.jpg', name : 'Муратов Алексей', description : 'Сотрудничаем с этой компанией уже достаточно давно, за это время никаких нареканий не возникло, могу отметить только положительные моменты в их работе: в своем деле разбираются отлично, когда заказывали у них разработку индивидуальной конфигурации, то учли все наши пожелания. Ну и главное, что делают работу в срок и по доступной цене. Так что будем продолжать сотрудничество!'  }
                    ,{src : 'assets/img/section__6/photoModel__7.jpg', name : 'Наумоваа Анна', description : 'Отличная студия по созданию сайтов! Очень довольна результатом, качественно, профессионально и в срок создали классный сайт! Ребята молодцы, компетентные сотрудники, рекомендую! Спасибо!'  }
                ]
            each item in itemComment
                .section__sixthBoxItem
                    img(src= item.src).section__sixthBoxItemPicture
                    span.section__sixthBoxItemName= item.name
                    p.section__sixthBoxItemDescription= item.description