section.section__sixth
    .wrapper
        .normal__title Что о нас говорят клиенты
        .section__sixthBox.owl-carousel
            -
                var itemComment = [
                    { src : 'assets/img/section__6/photoModel__1.jpg', name : 'Трофимов Александр', description : 'Благодарю Вас за проделанную работу. Owl Company - команда профессионалов. Когда мы работали над созданием нашего сайта, Ваши специалисты подсказали и реализовали массу полезных идей. Более того, сейчас, когда работы над созданием нашего сайта уже давно завершены, сотрудники Owl Company оперативно помогают реализовать наши новые идеи по развитию сайта. Ведь сайт должен развиваться вместе с бизнесом компании.'}
                    ,{src : 'assets/img/section__6/photoModel__2.jpg', name : 'Сафонов Иван', description : 'Сотрудничаем с компанией Owl Company в течении 2-х лет. Компанию отличает вдумчивый подход, изучение тематики сайта заказчика в период его создания, продвижение и поддержка. Менеджеры компании оперативно реагируют на просьбу по изменению, дополнению содержимого сайта.'}
                    ,{src : 'assets/img/section__6/photoModel__3.jpg', name : 'Черкасова Ангелина', description : 'После того как мы начали наше сотрудничество с Owl Company ситуация кардинально изменилась. Интерес к сайту значительно возрос не только среди постоянных покупателей компании, но и среди других заинтересованных потенциальных заказчиков, не имевших возможности ознакомится с нашей продукцией с помощью других источников.'}
                    ,{src : 'assets/img/section__6/photoModel__4.jpg', name : 'Гришин Евгений', description : 'Наше сотрудничество с компанией Owl Company началось недавно, но уже есть первые результаты: почти в два раза увеличилось количество звонков от потенциальных покупателей и увеличились объёмы продаж.'  }
                    ,{src : 'assets/img/section__6/photoModel__5.jpg', name : 'Дегтярев Роман', description : 'С тех пор как мы стали пользоваться услугами компании Owl Company по продвижению сайта в Интернете, посещаемость сайта существенно увеличилась. Сайт хорошо находится поисковыми системами, причем самыми популярными. В результате чего, наша организация приобрела новых покупателей, пришедших через интернет.'  }
                    ,{src : 'assets/img/section__6/photoModel__6.jpg', name : 'Муратов Алексей', description : 'Мы благодарим компанию Owl Company за креативную и плодотворную работу по продвижению нашего сайта на необъятных просторах Интернета. Говорим большое спасибо всему коллективу компании и надеемся на дальнейшее долгосрочное и взаимовыгодное сотрудничество!'  }
                    ,{src : 'assets/img/section__6/photoModel__7.jpg', name : 'Наумоваа Анна', description : 'Мы благодарим своего партнера - компанию Owl Company - за продуктивную работу над нашим сайтом. Менее чем за год совместной активной работы мы добились более уверенных позиция в поисковых системах в домашнем регионе и существенно улучшили видимость в соседних. Наше сотрудничество продолжается, и мы ждем от Owl Company новых идей и решений.'  }
                ]
            each item in itemComment
                .section__sixthBoxItem
                    img(src= item.src).section__sixthBoxItemPicture
                    span.section__sixthBoxItemName= item.name
                    p.section__sixthBoxItemDescription= item.description