include _head.pug
    include _header.pug
    include _section__1.pug
    include _section__2.pug
    include _section__3.pug
    include _section__4.pug
    include _section__5.pug
    include _section__6.pug
    include _footer.pug
    include _modal.pug
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/owl.carousel.min.js")
    script(src="assets/js/jquery.maskedinput.min.js")
    script(src="assets/js/app.js")